.card {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.116);
  border-radius: 10px;
  border: none;
}

.color-primary {
  color: #CFAF67 !important;
}

.color-secondary {
  color: #fff !important;
}

.inner-title {
  color: black;
  font-weight: 500;
  font-size: 53px;
  color: #CFAF67;
  font-family: 'Garamond Bold';
  line-height: 0.9;
}

@media screen and (max-width: 992px) {
  .inner-title {
    font-size: 38px;
  }
}

.inner-title span {
  display: block;
  color: #fff;
  font-size: 35px;
  font-family: 'Garamond';
  letter-spacing: 1.7px;
  margin-top: 10px;
}

@media screen and (max-width: 992px) {
  .inner-title span {
    font-size: 22px;
    margin-top: 14px;
  }
}

.list-white li {
  position: relative;
  padding-left: 15px !important;
}

.list-white li:after {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  display: block;
  height: 6px;
  width: 6px;
  background-color: #fff;
  border-radius: 50%;
}

.bounce {
  -moz-animation: bounce 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0px);
  }
}

a:visited, a:link, a:hover, a:active {
  text-decoration: none;
}

a {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: lighter;
}

ul li {
  display: block;
  padding: 2px 0;
}

button, a[role="button"] {
  cursor: pointer !important;
}

b {
  font-weight: bold;
}

button:focus {
  outline: none;
}

@media screen and (min-width: 1300px) {
  .container {
    max-width: 1280px !important;
  }
}

u {
  text-decoration: underline;
}

.font-weight-medium {
  font-weight: 500 !important;
}

@font-face {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: normal;
  src: local("Garamond"), url("../fonts/garamond.woff") format("woff");
}

@font-face {
  font-family: 'Garamond Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Garamond Bold"), url("../fonts/garamond-b.woff") format("woff");
}

.owl-carousel.nav-center .owl-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .owl-carousel.nav-center .owl-nav {
    top: 44%;
  }
}

.owl-carousel.nav-center .owl-nav button {
  align-items: center;
  position: absolute;
  color: #fff;
  font-size: 40px;
  background-color: #CFAF67;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 90px;
  height: 70px;
  opacity: 0.8;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-carousel.nav-center .owl-nav button:hover {
  opacity: 1;
}

.owl-carousel.nav-center .owl-nav button:focus {
  outline: none;
}

@media screen and (max-width: 576px) {
  .owl-carousel.nav-center .owl-nav button {
    width: 40px;
    height: 40px;
  }
}

.owl-carousel.nav-center .owl-nav .owl-prev {
  left: -13%;
}

.owl-carousel.nav-center .owl-nav .owl-next {
  right: -13%;
}

@media screen and (max-width: 768px) {
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -17%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -17%;
  }
}

@media screen and (max-width: 1390px) and (min-width: 1246px) {
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -10%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -10%;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1000px) {
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -8%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -8%;
  }
}

@media screen and (max-width: 576px) {
  .owl-carousel.nav-center .owl-nav {
    height: auto;
  }
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -4%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -4%;
  }
}

@media screen and (max-width: 768px) {
  .owl-carousel.nav-md-center .owl-nav {
    position: absolute;
    width: 100%;
    top: 70%;
    transform: translateY(-50%);
    margin: 0;
  }
  .owl-carousel.nav-md-center .owl-nav button {
    position: absolute;
    bottom: 0;
  }
  .owl-carousel.nav-md-center .owl-nav button.owl-prev {
    left: 3%;
  }
  .owl-carousel.nav-md-center .owl-nav button.owl-next {
    right: 3%;
  }
  .owl-carousel.nav-md-center img {
    margin: auto auto;
    width: 50%;
  }
}

.owl-carousel .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.owl-carousel .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  border: 1px solid rgba(255, 255, 255, 0.699);
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.owl-carousel .owl-dots .owl-dot.active {
  background-color: #b57b30;
}

.owl-carousel .owl-dots .owl-dot:active, .owl-carousel .owl-dots .owl-dot:focus {
  outline: none;
}

.owl-carousel .owl-nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.owl-carousel .owl-nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 13px;
  background-color: #CFAF67;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .owl-carousel .owl-nav-btn {
    font-size: 10px;
    height: 27px;
    width: 27px;
  }
}

.owl-carousel .owl-nav-btn:hover {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
  background-color: #c9a554;
}

@media screen and (min-width: 992px) {
  .owl-center .owl-stage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }
}

.main-nav {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 8;
}

.main-nav__content {
  display: flex;
  flex-direction: column;
}

.main-nav__top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 992px) {
  .main-nav__top {
    justify-content: space-between;
    padding: 18px 5px;
  }
}

.main-nav__brand img {
  width: 218px;
}

@media screen and (max-width: 992px) {
  .main-nav__brand img {
    width: 130px;
  }
}

.main-nav__bottom {
  position: relative;
  background-color: #CFAF67;
  color: #fff;
  padding: 20px 0;
}

@media screen and (max-width: 992px) {
  .main-nav__bottom {
    padding: 18px 9px 18px 0;
  }
}

.main-nav__bottom .container {
  display: flex;
}

@media screen and (max-width: 992px) {
  .main-nav__bottom .container {
    justify-content: space-between;
  }
}

.main-nav__bottom-offset {
  width: 15%;
}

@media screen and (max-width: 1200px) {
  .main-nav__bottom-offset {
    width: 0%;
  }
}

.main-nav__utils {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 15%;
}

@media screen and (max-width: 992px) {
  .main-nav__utils {
    width: 100%;
    justify-content: space-between;
  }
}

.main-nav__utils-bag {
  height: 22px;
  position: relative;
  margin-left: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-nav__utils-bag:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.main-nav__utils-bag .ico {
  display: inline-block;
  background-image: url(../images/ico/bag.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 20px;
  height: 20px;
}

.main-nav__utils-bag .number {
  position: absolute;
  top: -5px;
  right: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  background-color: #fff;
  color: #CFAF67;
  font-weight: 500;
  border-radius: 50%;
  font-size: 12px;
}

.main-nav__utils-search-mobile {
  position: relative;
  display: none;
}

@media screen and (max-width: 992px) {
  .main-nav__utils-search-mobile {
    display: block;
  }
}

.main-nav__utils-search-mobile input {
  width: 170px;
  border: none;
  color: lightgray;
  font-size: 14px;
  border-bottom: 1px solid #6e6e6e;
  background-color: transparent;
}

.main-nav__utils-search-mobile input:focus {
  outline: none;
}

.main-nav__utils-search-mobile input::placeholder {
  font-style: italic;
}

.main-nav__utils-search-mobile button {
  position: absolute;
  top: 50%;
  display: inline-block;
  color: #fff;
  background: none;
  border: none;
  right: -10px;
  transform: translateY(-50%);
}

.main-nav__utils-search-mobile button .ico {
  display: inline-block;
  background-image: url(../images/ico/search.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.main-nav__utils-search {
  display: flex;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

.main-nav__utils-search .ico {
  display: inline-block;
  background-image: url(../images/ico/search.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.main-nav__utils-search .dropdown {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  bottom: -50px;
  padding-top: 20px;
  left: 0%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-nav__utils-search .dropdown-input {
  border: none;
  box-shadow: none;
  outline: none;
  width: 100%;
  background-color: none;
  padding: 5px 30px 5px 15px;
  height: 45px;
  width: 130%;
  background-color: #fff;
  box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.15);
}

.main-nav__utils-search .dropdown-input:focus, .main-nav__utils-search .dropdown-input:active {
  border: none;
  outline: none;
}

.main-nav__utils-search .dropdown-send {
  position: absolute;
  right: -50px;
  top: 50%;
  font-size: 10px;
  color: #a3a3a3;
  height: 20px;
  width: 20px;
  border: none;
  background-color: transparent;
  transform: translate(-50%);
}

.main-nav__utils-search:hover .dropdown {
  opacity: 1;
  pointer-events: all;
}

.main-nav__close {
  position: absolute;
  right: 30px;
  top: 34px;
  color: #fff;
  font-size: 28px;
  display: none;
}

@media screen and (max-width: 992px) {
  .main-nav__close {
    display: block;
  }
}

.main-nav__menu {
  display: flex;
  justify-content: center;
  width: 70%;
}

@media screen and (max-width: 992px) {
  .main-nav__menu {
    overflow: scroll;
    position: absolute;
    padding: 34px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #161616;
    right: 150vw;
    top: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    z-index: 10;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .main-nav__menu.active {
    position: fixed;
    right: 0;
    opacity: 0.98;
  }
}

.main-nav__item {
  display: block;
  color: #ffff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  padding: 0 23px;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .main-nav__item {
    padding: 10px 9px;
    text-align: left;
    font-size: 14px;
  }
}

.main-nav__item a {
  color: inherit;
}

.main-nav__item-dropdown {
  position: absolute;
  left: 0;
  bottom: 0px;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  z-index: 7;
  font-size: 14px;
  text-transform: none;
  text-align: left;
  color: black;
  background-color: #fff;
  box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.048);
  border-bottom: 2px solid #e6e6e6;
  transform: translateY(100%);
  padding: 40px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 992px) {
  .main-nav__item-dropdown {
    position: relative;
    bottom: unset;
    left: unset;
    display: block;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    height: 0;
    padding: 0;
    overflow: hidden;
    color: #fff;
    transform: none;
  }
  .main-nav__item-dropdown h6 {
    font-size: 14px;
  }
  .main-nav__item-dropdown a {
    color: #fff !important;
  }
}

.main-nav__item-dropdown a {
  color: black;
}

.main-nav__item-dropdown a:hover {
  color: #CFAF67;
  font-weight: 400;
}

.main-nav__item-dropdown img {
  width: 100%;
}

.main-nav__item:hover .main-nav__item-dropdown {
  visibility: visible;
  opacity: 1;
  height: auto;
}

@media screen and (max-width: 992px) {
  .main-nav__item:hover .main-nav__item-dropdown {
    padding: 14px 10px 14px 15px;
  }
}

.main-nav__toggler {
  display: none;
}

.main-nav__toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #CFAF67;
}

.main-nav__toggler span + span {
  margin-top: 4px;
  width: 18px;
}

@media screen and (max-width: 992px) {
  .main-nav__toggler {
    display: block;
  }
}

.main-nav .sticky-brand {
  display: none;
  width: 140px;
  margin-top: 1px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .main-nav .sticky-brand {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .main-nav .sticky-brand {
    width: 100px;
    margin-top: 4px;
  }
}

.main-nav.sticky {
  animation: fadeInDown 0.5s;
}

.main-nav.sticky .main-nav__top {
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: none;
}

.main-nav.sticky .sticky-brand {
  display: block;
}

@media screen and (max-width: 992px) {
  .main-nav.sticky .main-nav__utils {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 992px) {
  .main-nav.sticky .main-nav__bottom-ofset {
    width: 25%;
  }
}

.form-control {
  width: 100%;
  padding: 5px;
  border-radius: 0;
  border: 1px solid #CFAF67;
  background: none;
  border-radius: 8px;
  padding: 12px 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-control:focus, .form-control:active {
  box-shadow: none;
  background-color: rgba(2, 0, 0, 0.116);
  color: #fff;
  outline: none;
  border: 1px solid #CFAF67;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  color: #CFAF67;
  font-weight: bold;
  font-size: 14.5px;
  text-align: left;
}

.list-icon {
  padding-left: 30px;
}

.list-icon li {
  position: relative;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .list-icon li {
    font-size: 14px;
  }
}

.list-icon li:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -19px;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 8px;
  border-radius: 50%;
}

.list-icon.list-error li:after {
  content: '\f00d';
  background-color: #A51212;
}

.list-icon.list-success li:after {
  content: '\f00c';
  background-color: #1C8C77;
}

.contact-list {
  padding-left: 30px;
}

.contact-list li {
  display: flex;
  align-items: center;
}

.contact-list li span {
  display: inline-block;
  margin-right: 7px;
  font-size: 19px;
  color: #006654;
}

.button-radio {
  display: flex;
  align-items: center;
  color: #fff;
  margin: 0;
  margin-right: 14px;
  font-size: 14px;
  background: none !important;
  border: none !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 992px) {
  .button-radio {
    margin-right: 8px;
  }
}

.button-radio .bullet {
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-radio:hover {
  color: #CFAF67;
}

.button-radio:hover .bullet {
  border-color: #CFAF67;
  background-color: #CFAF67;
}

.button-radio:hover .bullet:after {
  opacity: 1;
}

.button-radio:active, .button-radio.active {
  color: #CFAF67;
}

.button-radio:active .bullet, .button-radio.active .bullet {
  border-color: #CFAF67;
  background-color: #CFAF67;
}

.custom-select {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
  border: none !important;
}

@media screen and (max-width: 360px) {
  .custom-select {
    margin: 0 3px;
  }
}

.custom-select .pc-trigger {
  cursor: pointer !important;
  position: relative;
  width: 100%;
  border-radius: 0;
  border: 1px solid #CFAF67;
  background: none;
  border-radius: 8px;
  padding: 10px 18px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.custom-select .pc-trigger:hover {
  background-color: rgba(2, 0, 0, 0.116) !important;
}

.custom-select .pc-trigger:after {
  content: '\f0d7';
  position: absolute;
  font-family: "Font Awesome 5 Free";
  color: #CFAF67;
  font-weight: 900;
  right: 10px;
  font-size: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.custom-select .pc-select {
  width: 100% !important;
  max-width: unset !important;
}

.custom-select .pc-list {
  cursor: pointer;
  position: absolute;
  right: 10%;
  top: 150%;
  width: 100% !important;
  box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.144);
  background-color: #fff;
  border: none !important;
  z-index: 10;
  padding: 0;
  max-height: 30vh;
}

@media screen and (max-width: 768px) {
  .custom-select .pc-list {
    right: unset;
    left: 50% !important;
    width: 150px;
    transform: translateX(-50%);
  }
}

.custom-select .pc-list ul {
  display: flex;
  flex-direction: column;
}

.custom-select .pc-list ul li {
  position: relative;
  padding: 10px 15px !important;
  padding-left: 30px;
  display: flex;
  min-height: 30px;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .custom-select .pc-list ul li {
    font-size: 12px;
    padding-left: 22px;
  }
}

.custom-select .pc-list ul li:not(:last-child) {
  border-bottom: 1px solid #CFAF67;
}

.custom-select .pc-list ul li:hover {
  background-color: #CFAF67 !important;
}

.custom-select .pc-list ul li:hover:after {
  background-color: rgba(0, 0, 0, 0.322);
}

.card-header {
  background-color: #fff;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.181);
  padding: 11px 8px;
  border-radius: 0 0 0 4px !important;
}

@media screen and (max-width: 768px) {
  .card-header {
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.081);
    padding: 8px 6px;
  }
}

.card-body {
  font-size: 15px;
  border-radius: 0;
}

@media screen and (max-width: 768px) {
  .card-body {
    font-size: 13px;
  }
}

.scroll-top {
  position: absolute;
  right: 130px;
  bottom: 430px;
  width: 35px;
  height: 35px;
  background-image: url(../images/ico/scrolltop.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.scroll-top.show {
  opacity: 1;
}

.scroll-top:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.scroll-top:active, .scroll-top:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .scroll-top {
    position: fixed;
    right: 50px;
    bottom: 100px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1450px) {
  .scroll-top {
    right: 25px;
  }
}

.btn {
  padding: 13px 25px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 12px;
  }
}

.btn.btn-sm {
  padding: 8px 12px;
  font-size: 11px;
}

.btn.btn-lg {
  font-size: 18px;
  padding: 13px 30px;
}

.btn.btn-md {
  font-size: 14px;
  padding: 16px 30px;
}

@media screen and (max-width: 992px) {
  .btn.btn-md {
    font-size: 13px;
    padding: 14px 32px;
  }
}

@media screen and (max-width: 768px) {
  .btn.btn-md-xs {
    font-size: 10px;
    padding: 6px 9px;
  }
}

.btn-primary {
  position: relative;
  background-color: #CFAF67;
  color: #1C2830;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  box-shadow: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-primary:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 95%;
  height: 80%;
  background-color: none;
  border: 1px solid #1C2830;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #cdab5f !important;
  color: #1C2830 !important;
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
}

.footer {
  padding: 40px 20px;
  background-color: #fff;
  letter-spacing: 1px;
}

.footer__list {
  margin-bottom: 20px;
  font-size: 12px;
  color: #959595;
}

.footer__list a {
  color: inherit;
}

.footer__list .title {
  text-transform: uppercase;
  margin-bottom: 7px;
  font-weight: 600;
  color: black;
}

.footer__copyright {
  color: #959595;
  font-weight: 300;
  font-size: 11px;
}

.header-brand img {
  width: 145px;
  margin-bottom: 18px;
}

@media screen and (max-width: 768px) {
  .header-brand img {
    width: 130px;
    padding-left: 30px;
    margin-bottom: 12px;
  }
}

.header-brand hr {
  position: relative;
  width: 100%;
  height: 0.8px;
  border: none;
  margin-top: 8px;
  background-color: #CFAF67;
}

.header-brand hr:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  width: 100vw;
  height: 100%;
  background-color: #CFAF67;
}

.header-title {
  padding-top: 10px;
  padding-left: 80px;
  font-size: 69px;
  font-family: 'Garamond Bold';
  color: #fff;
}

@supports (-webkit-text-stroke: 1px black) {
  .header-title {
    -webkit-text-stroke: 0.8px #fff;
    color: transparent;
  }
}

@media screen and (max-width: 1200px) {
  .header-title {
    padding-left: 40px;
    font-size: 53px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 992px) {
  .header-title {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .header-title {
    font-size: 40px;
    line-height: 38px;
    padding-top: 0;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.modal-full {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #0d1c2c;
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  overflow-y: scroll;
  display: none;
}

.modal-full.active {
  display: block;
  animation: fadeIn 0.8s;
}

@media screen and (max-width: 768px) {
  .modal-full {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

.modal-full__close {
  position: absolute;
  right: 0;
  top: 35%;
  transform: translateY(-50%);
  color: #CFAF67;
  background: none !important;
  border: none !important;
  font-family: 'Garamond Bold';
  font-size: 17px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .modal-full__close {
    top: 5px;
    right: 10px;
  }
}

.card-outline {
  margin-bottom: 18px;
}

.card-outline-header {
  padding: 15px 15px;
  border: 1px solid #CFAF67;
  border-radius: 8px;
}

.card-outline-header button {
  position: relative;
  width: 100%;
  background: none;
  border: none;
  color: #CFAF67 !important;
  text-align: left;
  font-size: 24px;
  font-family: 'Garamond';
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .card-outline-header button {
    font-size: 20px;
  }
}

.card-outline-header button:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 32px;
  font-weight: 300;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .card-outline-header button:after {
    font-size: 25px;
  }
}

.card-outline-header button[aria-expanded="true"]:after {
  content: '-';
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .card-outline-header button[aria-expanded="true"]:after {
    font-size: 29px;
  }
}

.card-outline-body {
  padding: 33px 50px 20px 30px;
}

@media screen and (max-width: 768px) {
  .card-outline-body {
    padding-right: 0px;
    padding-left: 20px;
    padding-top: 22px;
    font-size: 14px;
  }
}

.card-outline-body h5 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.card-outline-body p {
  margin-bottom: 25px;
}

.curso-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 35px 35px 30px 35px;
  border: 1px solid #fff;
  border-radius: 7px;
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 40px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 992px) {
  .curso-card {
    margin-bottom: 35px;
  }
}

.curso-card:hover {
  background-color: rgba(0, 0, 0, 0.19);
}

.curso-card__label {
  position: absolute;
  left: 50%;
  top: -12px;
  transform: translateX(-50%);
  background-color: #CFAF67;
  color: #1C2830;
  border-radius: 5px;
  padding: 4px 16px;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
}

.curso-card__modalidade {
  font-size: 10px;
  margin-bottom: 10px;
  font-weight: 300;
  text-transform: uppercase;
  opacity: .9;
}

.curso-card__title {
  font-size: 22px;
  color: #CFAF67;
  font-weight: 300;
  line-height: 27px;
}

@media screen and (min-width: 768px) {
  .curso-card__title {
    min-height: 132px;
  }
}

.curso-card__divisor {
  width: 75%;
  height: 12px;
  background-color: none;
  background-image: url(../images/ico/divisor.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 16px auto 12px auto;
}

.curso-card .btn {
  width: 95%;
  margin: 0 auto;
}

.curso-card__insc {
  color: #CFAF67 !important;
  text-decoration: underline !important;
  margin-top: 15px;
  font-size: 12px;
  text-transform: uppercase;
}

.home-banner {
  position: relative;
  padding-top: 80px;
  z-index: 3;
  height: 1000px;
  background-image: url(../images/backgrounds/home-bg.png);
  background-position: 50% bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0d1824;
  animation: fadeIn 0.4s;
  min-height: 670px;
}

@media screen and (max-width: 768px) {
  .home-banner {
    height: auto;
    padding-bottom: 80px;
    background-position: 28% bottom;
  }
}

@media screen and (max-width: 992px) {
  .home-banner {
    padding-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .home-banner {
    padding-top: 40px;
    padding-left: 15px;
  }
}

.home-banner.hidden {
  display: none;
}

.home-banner__btn {
  display: flex;
  align-items: center;
  margin-top: 25px;
  padding: 16px 30px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .home-banner__btn {
    margin: 0 auto;
    margin-top: 35px;
    font-size: 14px;
  }
}

.home-banner__btn-ico {
  display: inline-block;
  width: 30px;
  height: 26px;
  background-image: url(../images/ico/checkin.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 13px;
}

@media screen and (max-width: 768px) {
  .home-banner__btn-ico {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 330px) {
  .home-banner__btn {
    font-size: 13px;
  }
}

.home-banner__caption {
  color: #CFAF67;
  font-size: 57px;
  line-height: 53px;
  margin-top: 55px;
  font-family: 'Garamond Bold';
}

@media screen and (max-width: 992px) {
  .home-banner__caption {
    font-size: 45px;
  }
}

@media screen and (max-width: 768px) {
  .home-banner__caption {
    margin-top: 55px;
    font-size: 47px;
    line-height: 46px;
  }
}

@media screen and (max-width: 330px) {
  .home-banner__caption {
    margin-top: 35px;
    font-size: 37px;
  }
}

.home-banner__caption hr {
  width: 200px;
  height: 8px;
  background-color: none;
  background-image: url(../images/ico/divisor.png);
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
  margin: 20px 0 -5px 0;
}

@media screen and (max-width: 768px) {
  .home-banner__caption hr {
    margin: 20px auto 0px auto;
    background-position: center center;
  }
}

.home-banner__caption span {
  color: #fff;
  font-size: 76px;
  line-height: 80px;
}

@supports (-webkit-text-stroke: 1px black) {
  .home-banner__caption span {
    -webkit-text-stroke: 0.6px #fff;
    color: transparent;
  }
}

@media screen and (max-width: 768px) {
  .home-banner__caption span {
    font-size: 60px;
  }
}

@media screen and (max-width: 330px) {
  .home-banner__caption span {
    font-size: 50px;
  }
}

.home-banner__more {
  display: block;
  width: 80px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  flex-direction: column;
  text-align: center;
  margin-top: 110px;
  color: #CFAF67;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .home-banner__more {
    text-align: center;
    width: 100%;
    margin-top: 90px;
  }
}

.home-banner__more:hover {
  color: #CFAF67;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.home-banner__more i {
  font-size: 18px;
}

.lista-cursos {
  padding: 130px 0 80px;
}

@media screen and (max-width: 992px) {
  .lista-cursos {
    padding: 80px 0;
    text-align: center;
  }
}

.lista-cursos__filters {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .lista-cursos__filters {
    flex-direction: column;
    margin-bottom: 20px;
    padding: 15px 0;
  }
}

.banner-about {
  padding: 160px 0 200px 0;
  margin-top: -40px;
  background-color: #0d1824;
  background-image: url("../images/backgrounds/bottom-curves.jpg");
  background-position: bottom left;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

@media screen and (max-width: 992px) {
  .banner-about {
    padding-bottom: 100px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .banner-about {
    padding-top: 80px;
    padding-bottom: 60px;
    margin-bottom: -40px;
  }
}

.banner-about__desc {
  font-size: 17px;
  max-width: 650px;
}

@media screen and (max-width: 992px) {
  .banner-about__desc {
    font-size: 14px;
  }
}

.banner-about__icons {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}

@media screen and (max-width: 992px) {
  .banner-about__icons {
    margin: 15px 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .banner-about__icons {
    flex-direction: column;
    align-items: center;
  }
}

.banner-about__icons-item {
  display: flex;
  align-items: flex-start;
  color: #CFAF67;
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .banner-about__icons-item {
    font-size: 15px;
  }
}

.banner-about__icons-item:not(:last-child) {
  margin-bottom: 50px;
}

.banner-about__icons-item img {
  width: 90px;
  margin-right: 24px;
}

@media screen and (max-width: 992px) {
  .banner-about__icons-item img {
    width: 80px;
    margin-right: 8px;
  }
}

.curso-pg {
  position: relative;
  padding-top: 100px;
  z-index: 3;
  background-image: url(../images/backgrounds/interna-bg.png);
  background-position: 50% top;
  background-size: 130%;
  background-repeat: no-repeat;
  margin-bottom: 160px;
  overflow: show;
}

@media screen and (min-width: 1600px) {
  .curso-pg {
    background-size: 100%;
  }
}

@media screen and (min-width: 1900px) {
  .curso-pg {
    background-size: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .curso-pg {
    padding-top: 60px;
    margin-bottom: 70px;
    background-size: 160%;
  }
}

@media screen and (max-width: 992px) {
  .curso-pg {
    padding-top: 60px;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 768px) {
  .curso-pg {
    height: auto;
    padding-bottom: 80px;
    padding-top: 40px;
    padding-left: 15px;
    margin-bottom: 30px;
    background-size: 500%;
  }
}

.curso-pg__map {
  color: #CFAF67;
  line-height: 20px;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .curso-pg__map {
    margin: 0 0 30px 0;
    font-size: 9px;
    text-align: center;
  }
}

.curso-pg__map a {
  display: inline-block;
  color: #CFAF67 !important;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0.4px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.curso-pg__map a:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

@media screen and (max-width: 992px) {
  .curso-pg__map {
    font-size: 9px;
  }
}

.curso-pg__title {
  color: #CFAF67;
  font-size: 30px;
  margin-bottom: 24px;
  font-weight: bold;
  font-family: 'Garamond Bold';
  letter-spacing: 0.9px;
}

@media screen and (max-width: 768px) {
  .curso-pg__title {
    font-size: 22px;
  }
}

.curso-pg__desc {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .curso-pg__desc {
    font-size: 14px;
  }
}

.curso-pg__divisor {
  width: 180px;
  height: 9px;
  background-color: none;
  background-image: url(../images/ico/divisor.png);
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
  margin: 6px 0 0 0;
}

@media screen and (max-width: 992px) {
  .curso-pg__divisor.center {
    margin: 16px auto 0px auto;
    background-position: center center;
  }
}

.curso-pg__content {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .curso-pg__content {
    font-size: 14px;
  }
}

.curso-pg__content h3 {
  color: #CFAF67;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 25px;
  font-family: 'Garamond';
}

@media screen and (max-width: 768px) {
  .curso-pg__content h3 {
    font-size: 20px;
  }
}

.simulador {
  display: none;
  position: relative;
  padding-top: 80px;
  z-index: 3;
  min-height: 1010px;
  background-image: url(../images/backgrounds/interna-bg.png);
  background-position: 50% bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0d1824;
}

@media screen and (max-width: 768px) {
  .simulador {
    height: auto;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 992px) {
  .simulador {
    padding-top: 60px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .simulador {
    padding-top: 40px;
    padding-left: 15px;
  }
}

.simulador.active {
  display: block;
  animation: fadeIn 0.8s;
}

.simulador__steps {
  padding-left: 80px;
}

@media screen and (max-width: 1200px) {
  .simulador__steps {
    padding-left: 60px;
  }
}

@media screen and (max-width: 992px) {
  .simulador__steps {
    padding-left: 0;
  }
}

.simulador .btn-primary {
  margin-top: 20px;
  font-size: 17px;
  padding: 15px 40px;
}

.banner-conheca {
  padding: 180px 0 100px 0;
  position: relative;
  overflow: hidden;
  margin-top: -100px;
  background-color: #0d1824;
  background-image: url("../images/backgrounds/top-curves.jpg");
  background-position: top  top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

@media screen and (max-width: 992px) {
  .banner-conheca {
    padding: 80px 0 60px 0;
    margin-top: -50px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .banner-conheca {
    padding-top: 70px;
    margin-top: -70px;
  }
}

.banner-conheca__desc {
  font-size: 16px;
  max-width: 690px;
  margin: 35px 0 25px;
}

@media screen and (max-width: 992px) {
  .banner-conheca__desc {
    font-size: 15px;
  }
}

body {
  position: relative;
  margin: 0;
  background-color: #0d1c2c;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

html {
  overflow-x: hidden;
}

/*# sourceMappingURL=maps/style.css.map */
