<aside class="modal-full" id="modal-inscricao">
    <div class="modal-full__content">
        <div class="container">
            <div class="row position-relative">
                <div class="col-12">
                    <div class="modal-full__header mb-4 mb-lg-5">
                        <h1 class="header-title fill animated fadeIn pl-0">
                            Inscreva-se!
                            <hr class="curso-pg__divisor animated fadeInUp center">
                        </h1>
                    </div>
                    <button data-toggle="modal-inscricao" class="modal-full__close">
                        Fechar
                    </button>
                </div>
            </div>

            <div class="row">

                <div id="inscricao-content-1"
                    class="col-lg-6 mb-4 mb-lg-0 text-center text-lg-left pr-lg-5 animated fadeInUp">
                    <h3 class="inner-title">Antes de se inscrever,</h3>
                    <div class="pr-lg-5">
                        <div class="pr-lg-5">
                            <p>veja até onde pode chegar com nosso <b>Simulador de Investimentos</b></p>

                            <p>
                                Para projetar o quanto sua
                                carreira tem a crescer, criamos um simulador bem simples: ele compara o valor de
                                investimento
                                mensal para cada curso, versus os salários mais cobiçados do mercado em cada área.
                            </p>

                            <p>
                                A pesquisa
                                foi baseada em fontes idôneas do mercado.
                            </p>

                            <p>
                                Simule agora mesmo e ganhe 10% de desconto no curso de
                                pós ou MBA que escolher.
                            </p>
                        </div>
                        <div class="d-flex justify-content-start">
                            <a type="button" href="./index.html?simulador=open" data-toggle="simulador"
                                class="home-banner__btn btn btn-primary px-4 zoomIn" data-wow-delay="0.8">
                                <span class="home-banner__btn-ico"></span>
                                Quero simular
                            </a>
                        </div>
                    </div>
                </div>

                <div id="inscricao-content-2" class="col-lg-6 mb-4 mb-lg-0 text-center text-lg-left pr-lg-5 animated fadeInUp">
                    <div class="pr-lg-5">
                        <p>
                            Agora que você já sabe aonde chegar, temos uma oportunidade e tanto: <br />
                            <span class="color-primary">
                                10% de desconto no curso de pós ou MBA que você escolher com o código abaixo:
                            </span>
                        </p>
                        <h4 class="inner-title my-2 my-lg-5">
                            FACPOS19
                        </h4>
                        <div class="pr-lg-5">
                            <p>
                                <b>Siga o passo a passo para utilizar:</b> <br />
                                1) Faça sua inscrição ao lado <br />
                                2) Em seguida, você será direcionado ao portal do aluno, onde vai fazer/criar seu
                                login
                                para o painel <br />
                                3) Após as 3 etapas de inscrição, insira o código de desconto no campo apropriado.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <form id="inscricao-form-1"
                        action="https://meuportalcare.force.com/portaldocandidatofacens/FacensLogin?inst=1C"
                        method="POST" class="row" target="_blank">

                        <input type="hidden" name="oid" value="00D15000000NPmK">
                        <input type="hidden" id="lead_source" name="lead_source" value="Website">
                        <input type="hidden" id="input_candidato" name="input_candidato" value="true">
                        <input type="hidden" id="00N1500000HoJTd" name="00N1500000HoJTd" value="Facens" title="Grupo">
                        <input type="hidden" id="00N1500000I2bOy" name="00N1500000I2bOy" title="Tipo de Ensino"
                            value="Pós Graduação">
                        <input type="hidden" id="00N1500000HQeCM" name="00N1500000HQeCM" value="Pós graduação">
                        <input type="hidden" id="tipo_de_ingresso" name="tipo_de_ingresso" value="true">
                        <input type="hidden" id="Tipo_de_Ensino__c" name="Tipo_de_Ensino__c" class="Tipo_de_Ensino__c"
                            value="Pós Graduação">
                        <input type="hidden" id="Ingresso_de_interesse__c" name="Ingresso_de_interesse__c"
                            value="Pós graduação">

                        <div class="col-12">
                            <div class="form-group animated fadeInUp">
                                <input type="hidden" name="campaign_id" id="campaign_id">

                                <label for="insc-select-mod">Modalidade</label>
                                <select id="insc-select-mod" name="Modalidade__c" class="custom_select">
                                    <option value="" selected>Escolha uma opção</option>
                                    <option value="Presencial">Presencial</option>
                                    <option value="EAD">EAD</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group animated fadeInUp">
                                <label for="insc-select-cur">Curso de interesse</label>
                                <!-- O input abaixo recebe o valor dinamicamente das mascaras de select -->
                                <input id="insc-select-cur" type="hidden" name="Curso_de_interesse__c" value="">

                                <div id="insc-select-container">
                                    <!-- Exibido se não tiver modalidade selecionada -->
                                    <div id="insc-select-cur-1">
                                        <select class="custom_select select-curso" disabled>
                                            <option value="1" selected>Escolha uma modalidade</option>
                                        </select>
                                    </div>

                                    <!-- Exibido se for modalidade presencial -->
                                    <div id="insc-select-cur-2" style="display: none;">
                                        <select class="custom_select select-curso">
                                            <option value="" selected>Escolha uma opção</option>
                                            <option value="1" selected>Curso presencial 1</option>
                                            <option value="2">Curso presencial 2</option>
                                        </select>
                                    </div>

                                    <!-- Exibido se for modalidade EAD -->
                                    <div id="insc-select-cur-3" style="display: none;">
                                        <select class="custom_select select-curso">
                                            <option value="" selected>Escolha uma opção</option>
                                            <option value="1" selected>Curso EAD 1</option>
                                            <option value="2" selected>Curso EAD 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group animated fadeInUp">
                                <label for="insc-nome">Nome completo</label>
                                <input id="insc-nome" type="text" class="form-control" name="last_name"
                                    placeholder="Digite seu nome completo">
                            </div>
                        </div>

                        <div class="col-6 ">
                            <div class="form-group animated fadeInUp">
                                <label for="insc-cpf">CPF</label>
                                <input id="insc-cpf" type="text" class="form-control mask-cpf" name="CPF__c"
                                    placeholder="Digite seu CPF (apenas números)">
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group animated fadeInUp">
                                <label for="insc-celular">Celular</label>
                                <input id="insc-celular" type="text" class="form-control mask-phone" name="mobile"
                                    placeholder="Digite seu celular">
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group animated fadeInUp">
                                <label for="insc-email">E-mail</label>
                                <input id="insc-email" type="text" class="form-control" name="email"
                                    placeholder="Digite seu e-mail">
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary btn-lg animated fadeInRight">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</aside>

<aside class="modal-full" id="modal-cupom">
    <div class="modal-full__content">
        <div class="container">
            <div class="row position-relative">
                <div class="col-12">
                    <div class="modal-full__header mb-5 pb-md-4">
                        <h1 class="header-title animated fadeIn pl-0">
                            Inscreva-se!
                            <hr class="curso-pg__divisor animated fadeInUp center">
                        </h1>
                    </div>
                    <button data-toggle="modal-inscricao" class="modal-full__close">
                        Fechar
                    </button>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <span class="inner-title">FACPOS19</span>
                <h5 class="font-weight-normal color-primary">Insira este código durante a inscrição</h5>
                <button data-toggle="modal-inscricao"
                    class="btn btn-primary btn-md wow fadeInRight d-block d-lg-none">Inscreva-se</button>
            </div>

        </div>
</aside>