.banner-about{
    padding: 130px 0 200px 0;
    margin-top: -40px;
    margin-bottom: -70px;
    background-color: #0d1824;
    background-image: url('../images/backgrounds/bottom-curves.jpg');
    background-position: bottom left;
    background-size: 100% auto;
    background-repeat: no-repeat;

    @media screen and (max-width: $bp-LG){
        padding-bottom: 100px;
        text-align: center;
    }

    @media screen and (max-width: $bp-MD){
        padding-top: 50px;
        padding-bottom: 60px;
        margin-bottom: -40px;
    }

    &__desc{
        font-size: 20px;
        max-width: 650px;
        margin-top: 35px;

        @media screen and (max-width: $bp-LG){
            font-size: 16px;
            margin-top: 0;
        }
    
    }

    &__icons{
        display: flex;
        flex-direction: column;
        margin-top: -30px;

        @media screen and (max-width: $bp-LG){
            margin: 15px 0;
            flex-direction: row;
            justify-content: space-between;
        }

        @media screen and (max-width: $bp-MD){
            flex-direction: column;
            align-items: center;
            margin: 40px 0;
        }

        &-item{
            display: flex;
            align-items: flex-start;
            color: $color-primary;
            font-size: 23px;

            @media screen and (max-width: $bp-XL){
                font-size: 20px;
            }

            @media screen and (max-width: $bp-MD){
                font-size: 19px;
            }

            &:not(:last-child){
                margin-bottom: 50px;
            }

            img{
                width: 95px;
                margin-right: 24px;

                @media screen and (max-width: $bp-LG){
                    width: 80px;
                    margin-right: 16px;
                }
            }
        }
    }
}