@font-face {
    font-family: 'Garamond';
    font-style: normal;
    font-weight: normal;
    src: local('Garamond'), url('../fonts/garamond.woff') format('woff');
}

@font-face {
    font-family: 'Garamond Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Garamond Bold'), url('../fonts/garamond-b.woff') format('woff');
}