.color-primary {
    color: $color-primary !important;
}

.color-secondary {
    color: $color-secondary !important;
}

.inner-title{
    color: black;
    font-weight: 500;
    font-size: 62px;
    color: $color-primary;
    font-family: 'Garamond Bold';
    line-height: 0.9;

    @media screen and (max-width: $bp-LG){
        font-size: 40px;
    }

    span{
        display: block;
        color: #fff;
        font-size: 39px;
        font-family: 'Garamond';
        letter-spacing: 1.4px;
        margin-top: 10px;
        
        @media screen and (max-width: $bp-LG){
            font-size: 26px;
            margin-top: 14px;
        }
    }
}

.list-white{
    li {
        position: relative;
        padding-left: 15px !important;
    
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 10px;
            display: block;
            height: 6px;
            width: 6px;
            background-color: #fff;
            border-radius: 50%;
        }
    }
}