.form-control {
    width: 100%;
    padding: 5px;
    border-radius: 0;
    border: 1px solid $color-primary;
    background: none;
    border-radius: 8px;
    padding: 12px 20px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    @include transition();

    &:focus, &:active {
        box-shadow: none;
        background-color: rgba(2, 0, 0, 0.116);
        color: #fff;
        outline: none;
        border: 1px solid $color-primary;
    }
}

.form-group{
    margin-bottom: 20px;

    label{
        color: $color-primary;
        font-weight: bold;
        font-size: 14.5px;
        text-align: left;
    }
}