.radio-color {
    input {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
    
    .mask {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        border: 1px solid transparent;
        cursor: pointer;
        @include transition();

        span {
            width: 90%;
            height: 90%;
            border: 1px solid black;
        }

        &:after{
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            width: 110%;
            height: 110%;
            border: 1px solid black;
            opacity: 0;
            pointer-events: none;
            @include transition();
        }

        &:hover {
            @include scale(1.1);

            &:after{
                opacity: 1;
            }
        }
    }

    &:not(:last-child) {
        margin-right: 8px;
    }

    input:hover~.mask {
        @include scale(1.1);

        &:after{
            opacity: 1;
        }
    }

    input:checked~.mask {
        @include scale(1.1);

        &:after{
            opacity: 1;
        }
    }

}

.radio-text {
    input {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
    
    .mask {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 24px;
        width: 24px;
        padding: 1px;
        background-color: #fff;
        color: black;
        border: 1px solid black;
        border-radius: 0px;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        opacity: .4;
        cursor: pointer;
        @include transition();

        &:hover {
            @include scale(1.02);
        }
    }

    input:hover~.mask {
        opacity: 1;
        border-width: 1.1px;
        
        @media screen and (min-width: $bp-LG){
            @include scale(1.04);
        }
    }
    
    input:checked~.mask {
        border-width: 1.2px;
        opacity: 1;
    }
}