.modal-full{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: $color-dark;
    width: 100vw;
    display: none;
    overflow: auto;
    height: 100vh;
    padding-top: 60px;
    padding-bottom: 70px;
    
    &.active{
        display: block;
        animation: fadeIn 0.8s;
    }

    @media screen and (max-width: $bp-MD){
        padding-top: 30px;
        padding-bottom: 60px;
    }


    &__close{
        position: absolute;
        right: 0;
        top: 35%;
        transform: translateY(-50%);
        color: $color-primary;
        background: none !important;
        border: none !important;
        font-family: 'Garamond Bold';
        font-size: 17px;
        @include transition();

        @media screen and (max-width: $bp-MD){
            top: 5px;
            right: 10px;
        }
    }

    .inner-title{
        font-size: 54px;
        margin-bottom: 15px;

        @media screen and (max-width: $bp-MD){
            font-size: 35px;
        }
    }
}